body
{
	/* font-family: "Frutiger", "Lucida Grande", "Tahoma", "Arial Unicode MS", "Helvetica", "Arial", san-serif; */
	font-family: Monaco, monospace;
	word-wrap: break-word;
	background: white;
	color: black;
}
p
{
	margin: 0;
	padding: 0;
	margin-top: 1px;
}

p.warning,
p.error,
p.ctcp
{
	color: red;
}
p.info
{
	color: #000080;
}
p.status
{
	color: #008000;
}
p.debug
{
	color: #888;
}

p.chat-action
{
	color: #800080;
}
