body
{
	font-family: "Frutiger", "Lucida Grande", "Tahoma", "Arial Unicode MS", "Helvetica", "Arial", san-serif;
}
div
{
	margin: 1px 0px 0px 0px;
	padding: 0px;
}
div.error
{
	color: red;
}
div.info
{
	color: #00008B;
}