main ICON MOVEABLE PURE "res/dirt.ico"
1 24 "res/manifest.xml"
hand CURSOR DISCARDABLE "res/hand.cur"

#include "version.h"

#ifdef EXTRA_VER_INFO
	#ifdef _UNICODE
		#define UNICODE_STR "Unicode"
	#else
		#define UNICODE_STR "ANSI"
	#endif
	#ifdef _CONSOLE
		#define CONSOLE_STR " Console"
	#else
		#define CONSOLE_STR " GUI"
	#endif
	#ifdef _DEBUG
		#define DEBUG_STR " Debug"
	#else
		#define DEBUG_STR " Release"
	#endif
	#define SUFFIX_STR " Build\r\n\r\n"
#else
	#define UNICODE_STR
	#define CONSOLE_STR
	#define DEBUG_STR
	#define SUFFIX_STR "Unknown Build\r\n\r\n"
#endif

1 VERSIONINFO
FILEVERSION VERSION_RC
PRODUCTVERSION VERSION_RC
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "0c0904b0"
		BEGIN
			VALUE "Comments", VERSION "\r\n\r\n" UNICODE_STR CONSOLE_STR DEBUG_STR SUFFIX_STR "http://dirtchat.sourceforge.net/" "\0"
			VALUE "FileDescription", "Dirt Secure Chat\0"
			VALUE "FileVersion", VERSION "\0"
			VALUE "InternalName", "Dirt\0"
			VALUE "LegalCopyright", "Released under the GPL\0"
			VALUE "OriginalFilename", "Dirt.exe\0"
			VALUE "ProductName", "Dirt Secure Chat\0"
			VALUE "ProductVersion", VERSION "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xc09, 1200
	END
END
