Debug
Release
CTDebug
CTRelease
*.ncb
*.opt
*.plg
libcryptopp.a
*.kdevses
*.aps
*.h
*.cpp
*.dat
cryptopp.rc
cryptest.dsw
cryptest.dsp
cryptlib.dsp
cryptdll.dsp
dlltest.dsp
License.txt
Readme.txt
Doxyfile
doc
*.layout
Makefile.win
crypto++.mcp
adhoc.cpp.proto
TestVectors
cryptopp521.zip
cryptest.exe
a.out
*.o
